@use "variables" as v;

.bookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(225, 218, 209, 1);
  color: black;
}

.bookingForm ul {
  list-style: none;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.bookingForm p {
  width: 70%;
}

.bookingForm ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 35px;
  background-color: white;
  border: 0.5px solid #7c7c7c;
}

.bookingForm ul li:hover {
  background-color: rgb(218, 216, 216);
}
