@use "variables" as v;
@use "mixins";

.bookingContainer {
  display: flex;
  flex-direction: row;
}

.bookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(225, 218, 209, 1);
  color: black;
  padding-bottom: 30px;
  @include mixins.tablet {
    width: 50%;
  }
}

.bookingFormTimeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingForm ul,
.bookingFormTimeContainer ul {
  list-style: none;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.bookingForm p {
  width: 80%;
  margin-bottom: 8px;
}

.bookingForm .bookingInput {
  width: 80%;
  height: 30px;
  background-color: white;
  border: 0.5px solid #7c7c7c;
  color: black;
}
.bookingButtonContainer {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.bookingForm .bookingButton {
  background-color: white;
  border: 0.5px solid #7c7c7c;
  margin-top: 20px;
  color: black;
}

.bookingForm .bookingButton:hover {
  background-color: #cfbca5;
}

.guestAmount,
.bookingForm ul li,
.bookingTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 35px;
  background-color: white;
  border: 0.5px solid #7c7c7c;
  cursor: pointer;
}

.bookingForm ul li:hover,
.guestAmount:hover,
.bookingTime:hover {
  background-color: rgb(218, 216, 216);
}
.guestClicked {
  background-color: rgb(218, 216, 216);
}

.bookingImageContainer {
  background: url(/src/assets/trattoria-grazie-sjostaden-10.jpg) no-repeat
    center;
  background-size: cover;
  background-attachment: fixed;
  width: 0%;
  display: flex;
  justify-content: center;

  @include mixins.tablet {
    width: 50%;
  }
}

.bookingTitleContainer {
  visibility: hidden;

  @include mixins.tablet {
    visibility: visible;
    background-color: v.$secondary-color;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    transform: translate(0%, -40%);
    width: 25%;
    border: 2px solid v.$primary-color;
  }
}

.bookingTitle {
  visibility: hidden;

  @include mixins.tablet {
    visibility: visible;
    text-align: center;
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: v.$primary-color;
  }
}
