@use "variables" as v;

.hero_Image {
    background: url(/src/assets/trattoria-grazie-sjostaden-10.jpg) no-repeat center;
    background-size: cover;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$secondary-color;
    .hero_text {
        height: 25vh;
        width: 45vw;
        background-color: v.$primary-color;
        opacity: 60%;
    }
    p {
        color: v.$white-color;
        font-family:'fantasy';
        font-size: 20px;
        position: absolute;
        text-align: center;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 0%,);
    }
}

.startpage_meny {
    height: 50dvh;
    background-color: v.$primary-color;
    .img {
        height: 40dvh;
        width: 50vw;
    }
}

.reservation_container {
    height: 50dvh;
    background-color: v.$greyblue-color;
}