@use "variables" as v;

.hero_Image {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
        height: 100px;
        width: 100px;
        place-items: center;
        animation: fade-in 0.75s linear;
    }
    .hero_text {
        height: 25vh;
        width: 45vw;
        background-color: v.$primary-color;
        opacity: 60%;
    }
    p {
        color: v.$white-color;
        font-family:'fantasy';
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 0%,);
    }
}

.startpage_meny {
    height: 50dvh;
    background-color: v.$primary-color;
    .img {
        height: 40dvh;
        width: 50vw;
    }
}

.reservation_container {
    height: 50dvh;
    background-color: v.$greyblue-color;
}