$primary-color: rgba(56, 49, 37, 1);
$secondary-color: rgba(207, 188, 165, 1);
$light-color: rgba(225, 218, 209, 1);

$darkblue-color: rgba(35, 50, 63, 1);
$greyblue-color: rgba(93, 109, 114, 1);

$black-color: rgba(30, 30, 30, 1);
$white-color:rgba(255, 255, 255, 1);

$tablet: 768px;
$desktop: 1024px;
